<h1>{{nombre}}</h1>

<dl>

  <td>Nombre:</td>
  <dd>{{nombre}}</dd>

  <td>Edad:</td>
  <dd>{{edad}}</dd>

  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<button
  *ngIf="nombre === 'IronMan'"
  class="btn btn-primary mx-2"
  (click)="changeHero()"
  >Cambidar nombre</button>

<button
*ngIf="edad !== 25"
  class="btn btn-primary mx-2"
  (click)="changeEdad()"
  >Cambidar edad</button>

<button class="btn btn-primary" (click)="resetForm()" >Reset</button>
